@page "/dashboard"

    <div class="row">
        <div class="col-3">
            <GenreList />
        </div>
        <div class="col-9">
            <AlbumList />
        </div>
    </div>
    @code {

    }
